html, body
{
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

.container-fluid{
  padding: 0;
}

a{
  color: inherit;
}

.logo{
  text-align: center;
}

.logo a{
  font-family: 'Leckerli One', cursive;
  font-size: 45px;
  padding-top: 10px;
  color: #ff9cf3;
  text-decoration: none;
}

.nav-link{
  font-size: 15px;
  font-weight: bold;
  color: #696969;
}

.landing{
  background-image: url(images/landing.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

}

.landing h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 55px;
  margin-top: 13%;
  text-align: center;
}

.landing h2{
  color: white;
  font-size: 35px;
  text-align: center;
  margin-top: 35px;
}

.arrow{
  margin-top: 10%;
}

.about{
  height: 450px;
}

.about img{
  margin-top: 5%;
}

.about h1{
  margin-top: 12%;
  font-size: 35px;
  color: #ff9cf3;
}

.about p{
  font-size: 20px;
  padding: 25px;
  color: #696969;
}

.services{
  height: 470px;
  background-color: #ff9cf3;
}

.services h1{
  color: white;
  margin-top: 30px;
  font-size: 50px;
}

.services h2{
  font-size: 20px;
  color: white;
}

.services i{
  color: white;
  font-size: 120px;
  padding: 10px;
}

.building i{
  font-size: 125px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-top: 30px;
  padding: 10px;
}

.flip-card h1{
  font-size: 30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

.flip-card-front {
  background-color: none;
  color: white;
}

.flip-card-back {
  background-color: white;
  color: #ff9cf3;
  transform: rotateY(180deg);
}

.flip-card-back h1{
  font-size: 25px;
  color: #ff9cf3;
  padding: 5px;
}

.flip-card-back p{
  font-size: 20px;
  color: #696969;
  padding: 5px;
}

.testimonials{
  height: 200px;
  padding: 35px;
}

.testimonials h3{
  color: #696969;
}

.contact{
  height: 500px;
  background-image: url(images/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center;
}

.contact h1{
  margin-top: 7%;
  color: #ff9cf3;
}

.contact h2{
  font-size: 25px;
  color: #696969;
  margin-top: 30px;
  text-align: center;
}

.footer{
  height: 70px;
  background-color: #ff9cf3;
}

.footer h3{
  font-size: 18px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

@media only screen and (max-width:570px){

  html, body {
    width: 100%;
    overflow-x: hidden;
  }

  .logo{
    height: 80px;
  }

  .logo a{
    font-size: 40px;
    padding: 5px;
  }

  .navbar{
    padding: 0;
  }

  .landing{
    width: 100vw;
    height: 300px;
    background-size: cover;
    background-position: center, center;
  }

  .landing h1{
    margin-top: 60px;
    font-size: 25px;
    color: white;
  }

  .landing h2{
    font-size: 20px;
    margin-top: 40px;
  }

  .landing img{
    display: none;
  }

  .about h1{
    font-size: 30px;
    margin-top: 30px;
  }

  .about p{
    font-size: 15px;
    padding: 15px;
  }

  .about img{
    height: 150px;
  }

  .services{
    height: 1300px;
  }

  .services h1{
    font-size: 32px;
  }
  
  .services h2{
    display: none;
  }

  .flip-card h1{
    font-size: 30px;
  }

  .services h3{
    font-size: 15px;
  }

  .services i{
    font-size: 60px;
  }

  .flip-card img{
    height: 100px;
  }

  .flip-card{
    height: 250px;
  }

  .flip-card-back h1{
    font-size: 22px;
    color: #ff9cf3;
    padding: 5px;
  }

  .flip-card-back p{
    font-size: 15px;
    color: #696969;
    padding: 5px;
  }

  .testimonials{
    height: 120px;
  }
  
  .testimonials h3{
    font-size: 20px;
  }

  blockquote h3:before {
  font-size: 100px;
  }

  .contact h1{
    margin-top: 30%;
    color: #ff9cf3;
    font-size: 32px;
  }
  
  .contact h2{
    font-size: 17px;
  }
  
}
